html,
body {
    height: 100%;
}
.grid-container {
    display: grid;
    height: 100%;
    grid-template: auto repeat(6, 1fr) / repeat(7, 1fr);
}

.grid-container > div {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: relative;
    margin: 3px;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.32);
}

.grid-container > div:not(.kyrixjheader) {
    background-color: white;
}

.svgdiv,
.kyrixdiv {
    /*width: 100%;*/
    /*height: 100%;*/
    position: relative;
    overflow: hidden;
}

.explain {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    font-size: 24px;
}

/* ====================================== global antd modifiers ====================================== */

.grid-container .ant-card-head {
    background-color: #f7f9fc;
}

.grid-container .ant-card-head-title {
    padding: 10px 0;
}

/* ====================================== header ====================================== */
.kyrixjheader {
    background-color: lemonchiffon;
    grid-area: 1 / 1 / 1 / 8;
    font-size: 18px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================================== Kyrix view ====================================== */
.kyrixdiv {
    grid-area: 4 / 3 / 8 / 6;
}

/* ====================================== schema graph view ====================================== */
.erdiagram {
    grid-area: 2 / 3 / 4 / 6;
    position: absolute;
    overflow: hidden;
}

.erdiagramsvg {
    position: absolute;
}

.erdiagram > .graphbutton {
    margin: 5px 5px;
    float: right;
}

.circleg > circle {
    fill: #add8e6;
    stroke: #eee;
    stroke-width: 12;
    cursor: pointer;
}

.lineg > line {
    stroke: #eee;
    stroke-width: 12;
}

.lineg > line:hover {
    stroke: #111;
    stroke-width: 15;
}

/* ====================================== vis details view ====================================== */
.visdetails {
    grid-area: 2 / 6 / 8 / 8;
    grid-template: auto 1fr 5% / 25% 75%;
}

/*.schemadetails .ant-table.ant-table-small .ant-table-thead > tr > th {*/
/*font-size: 20px;*/
/*font-weight: bold;*/
/*}*/

/*.schemadetails .ant-table.ant-table-small .ant-table-tbody > tr > td {*/
/*overflow: scroll;*/
/*padding: 5px 3px;*/
/*}*/

.rawdata {
    width: 100%;
    height: 45%;
}

.rawdata .ant-card {
    width: 100%;
    height: 100%;
}

.rawdata .ant-card-body {
    height: calc(100% - 60px);
}

.rawdata .ant-table.ant-table-small .ant-table-thead > tr > th {
    white-space: nowrap;
    font-weight: bold;
}

/*.tablefade-appear {*/
/*opacity: 0.01;*/
/*}*/

/*.tablefade-appear-active {*/
/*opacity: 1;*/
/*transition: opacity 300ms ease-in;*/
/*}*/

/* ====================================== query details view ====================================== */
.querydetails {
    grid-area: 2 / 1 / 6 / 3;
    display: flex;
    flex-direction: column;
}

.filters li {
    font-size: 15px;
    padding: 2px;
}

.querydetails ul {
    margin-top: 10px;
}

/* ====================================== slide reel view ====================================== */
.slidereel {
    /*background-color: chocolate;*/
    grid-area: 6 / 1 / 8 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidereel > .slideshow > .img-container {
    display: inline-block;
    width: auto;
}

.slidereel > .slideshow {
    border: #dddddd 2px dotted;
    border-radius: 5px;
    width: 90%;
    height: 160px;
    overflow-x: scroll;
    white-space: nowrap;
}

.slidereel > .slideshow > .img-container > img {
    padding: 20px;
    box-sizing: border-box;
    width: 150px;
}

/* ====================================== from kyrix ====================================== */

.kyrixtooltip {
    background: #fff;
    border-radius: 3px;
    position: absolute;
    box-shadow: 2px 2px #888888;
    pointer-events: none;
    opacity: 0;
    font-size: 13px;
    font-family: Open Sans;
}
.kyrixdiv {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: hidden;
}

.kyrixviewdiv {
    height: 100%;
    display: flex;
    overflow: hidden;
}

.kyrixvisdiv {
    flex: 1 1 0;
    overflow: hidden;
}

.kyrixbuttondiv {
    width: auto;
    height: auto;
    overflow: hidden;
}

.kyrixbuttondiv button {
    display: block;
    margin: 6px;
}

.viewsvg {
    display: block;
    position: relative;
    /*margin-top: 5px;*/
    /*margin-left: 5px;*/
}

div.jumppopover {
    position: absolute;
    display: block;
    opacity: 0.9;
}

div.popoverarrow {
    top: 50%;
}

a.popoverclose {
    position: relative;
    bottom: 5px;
    left: 6px;
}

div.popovercontent {
    margin: 0px;
    padding: 0px;
}

div.popovercontent > .list-group-item {
    padding: 6px;
    border: none;
}

div.jumppopover > div {
    text-align: center;
    font-family: "Source Serif Pro", sans-serif !important;
}
