html,
body {
    height: 100%;
}
.grid-container {
    display: grid;
    height: 100%;
    grid-template: auto repeat(6, 1fr) / repeat(7, 1fr);
}

.grid-container > div {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: relative;
    /*border-style: solid;*/
    /*border-color: lightslategrey;*/
    /*border-width: 1px;*/
    margin: 3px;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.32);
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    overflow: hidden;
}

.grid-container > div:not(.kyrixjheader) {
    background-color: white;
}

.svgdiv,
.kyrixdiv {
    /*width: 100%;*/
    /*height: 100%;*/
    position: relative;
    overflow: hidden;
}

.explain {
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    font-size: 24px;
}

/* ====================================== header ====================================== */
.kyrixjheader {
    background-color: lemonchiffon;
    grid-area: 1 / 1 / 1 / 3;
    font-size: 18px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ====================================== Kyrix view ====================================== */
.kyrixdiv {
    /*background-color: bisque;*/
    grid-area: 1 / 3 / 6 / 6;
}

/* ====================================== schema graph view ====================================== */
.erdiagram {
    /*background-color: coral;*/
    grid-area: 2 / 1 / 4 / 3;
    position: relative;
}

.erdiagramsvg {
    position: absolute;
}

/* ====================================== table details view ====================================== */
.tabledetails {
    grid-area: 4 / 1 / 8 / 3;
    display: grid;
    grid-template: auto 1fr 5% / 30% 70%;
}

.tabledetails > .searchbar {
    grid-area: 1 / 1 / 2 / 3;
    width: 100%;
    background-color: #e9e9e9;
}

.tabledetails > .searchbar > input[type="text"] {
    width: 50%;
    float: left;
    size: 60px;
    padding: 6px;
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 16px;
    border-radius: 5px;
    border: none;
    font-size: 17px;
}

.tabledetails > .tablelist {
    border-right: 1px solid #e9e9e9;
    grid-area: 2 / 1 / 4 / 2;
}

.tabledetails > .tablelist ul {
    list-style: none;
    padding: 0;
    font-size: 15px;
}

.tabledetails > .tablelist > ul > li {
    padding: 8px 28px;
    border-bottom: 1px solid #ddd;
    background-image: url("./pics/table-grid.png");
    background-repeat: no-repeat;
    background-position: 5px center;
    background-size: 15px;
    white-space: nowrap;
    overflow-x: scroll;
    cursor: pointer;
}

.tabledetails > .tablelist > ul > li:hover {
    background-color: #e9e9e9;
}

.tabledetails > .schemadetails {
    /*background-color: burlywood;*/
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabledetails > .schemadetails > .curtable {
    font-size: 14px;
    table-layout: fixed;
    width: 45%;
    overflow-y: scroll;
}

.tabledetails > .schemadetails > .curtable td {
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
    white-space: nowrap;
    overflow: scroll;
    padding: 5px 3px;
}

.tabledetails > .schemadetails > .curtable th {
    font-weight: bold;
    overflow: hidden;
    padding: 10px 5px;
}

.tabledetails > .schemadetails > .curtable .tg-76qt {
    border-color: inherit;
    text-align: center;
    vertical-align: center;
}

.tabledetails > .schemadetails > .curtable tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tabledetails > .schemadetails > .curtable td:hover {
    background-color: #ddd;
}

/* ====================================== slide reel view ====================================== */
.slidereel {
    /*background-color: chocolate;*/
    grid-area: 6 / 3 / 8 / 6;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slidereel > .slideshow > .img-container {
    display: inline-block;
    width: auto;
}

.slidereel > .slideshow {
    border: #dddddd 2px dotted;
    border-radius: 5px;
    width: 90%;
    height: 160px;
    overflow-x: scroll;
    white-space: nowrap;
}

.slidereel > .slideshow > .img-container > img {
    padding: 20px;
    box-sizing: border-box;
    width: 150px;
}

/* ====================================== query details view ====================================== */
.querydetails {
    /*background-color: darkseagreen;*/
    grid-area: 1 / 6 / 5 / 8;
}

.querydetails > div:not(.explain) {
    display: block;
    width: auto;
    height: 30%;
    margin: 10%;
    border: midnightblue 1px dotted;
    border-radius: 7px;
    position: relative;
    padding-left: 20px;
}

.sqlquerydiv {
    padding-top: 15px;
}

.filterdiv {
    padding-top: 35px;
}
.querydetails h4 {
    position: absolute;
    top: -40px;
}

.querydetails ul {
    list-style: none;
    margin-left: -40px;
}

/* ====================================== from kyrix ====================================== */
#containerSvg {
    display: block;
    position: absolute;
    /*margin: auto;*/
}

.viewsvg {
    display: block;
    margin: auto;
}

#jumppopover {
    display: block;
    opacity: 0.9;
}

#popoverarrow {
    top: 50%;
}

#popoverclose {
    position: relative;
    bottom: 5px;
    left: 6px;
}

#popovercontent {
    margin: 0px;
    padding: 0px;
}

#popovercontent > .list-group-item {
    padding: 6px;
    border: none;
}

#jumppopover > div {
    text-align: center;
    font-family: "Source Serif Pro", sans-serif !important;
}

.gobackbutton,
.zoominbutton,
.zoomoutbutton {
    position: fixed;
}
