.slideshow .ant-drawer-body {
    margin: 5px;
    padding: 3px 7px 3px 3px;
}

.slideshow .img-container {
    width: calc(100% - 30px);
    margin: 15px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-box-shadow: 1px 1px 3px 0px rgba(189, 183, 189, 1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(189, 183, 189, 1);
    box-shadow: 1px 1px 3px 0px rgba(189, 183, 189, 1);
}

.slideshow .img-container .img-info-area {
    padding: 5px;
    text-align: center;
    max-height: 30px;
    position: relative;
}

.slideshow .img-container .ant-image {
    pointer-events: none;
}

.slideshow .img-container img {
    box-sizing: border-box;
    padding: 5px;
    width: 100%;
    height: auto;
    pointer-events: none;
}

.img-container .anticon.anticon-zoom-in {
    position: absolute;
    right: 7px;
    bottom: 7px;
    cursor: zoom-in;
}
