html,
body {
    height: 100%;
    overflow: hidden;
}
.grid-container {
    display: grid;
    height: 100%;
    grid-template: auto repeat(7, 1fr) / repeat(10, 1fr);
}

.grid-container > div {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    position: relative;
    margin: 3px;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.32);
}

.grid-container > div:not(.kyrixjheader) {
    background-color: white;
}

.svgdiv,
.kyrixdiv {
    position: relative;
    overflow: hidden;
}

.explain {
    display: none;
    position: absolute;
    right: 20px;
    bottom: 20px;
    z-index: 2;
    font-size: 24px;
}

/* makes scrollbar always visible */
::-webkit-scrollbar {
    -webkit-appearance: none;
    height: 7px;
    width: 7px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
}

/* global antd modifiers */
.grid-container .ant-card-head {
    /*background-color: #f7f9fc;*/
    min-height: 0px;
    background-color: #e6e8e6;
}

.grid-container .ant-card-head-wrapper {
    min-height: 0px;
}

.grid-container .ant-card-head-title {
    padding: 5px 0;
}
