.info-panel {
    grid-area: 2 / 8 / 6 / 11;
}

.info-panel .ant-card-body {
    padding: 20px;
}

.info-panel {
    overflow: auto;
}

.sql-query .ant-card-body pre {
    margin-bottom: 0px;
    line-height: 1.5;
    font-size: 13px;
    border: white;
}

.filters .filter-item {
    font-size: 14px;
    padding: 2px;
}

.filters .ant-empty-normal {
    margin: 0px 0px;
}

.filters .ant-list-empty-text {
    padding: 0px;
}

.filters .anticon-filter {
    padding-right: 10px;
}

.vis-data-mapping .ant-descriptions-small {
    overflow: scroll;
}

.vis-data-mapping .ant-descriptions-view {
    overflow: auto;
}

.vis-data-mapping td,
.vis-data-mapping th {
    white-space: nowrap;
}

.vis-data-mapping td {
    font-weight: bold;
}
