.info-panel {
    grid-area: 2 / 8 / 6 / 11;
}

.info-panel .ant-card-body {
    padding: 20px;
}

.info-panel {
    overflow: auto;
}

.sql-query pre {
    margin-bottom: 0px;
}

.filters .filter-item {
    font-size: 14px;
    padding: 2px;
}

.filters .ant-empty-normal {
    margin: 0px 0px;
}

.filters .ant-list-empty-text {
    padding: 0px;
}
