div.jump-preview {
    position: fixed;
    width: 400px;
    height: auto;
}

.jump-preview .ant-popover-inner-content {
    padding: 0px;
}

.jump-preview .ant-popover-arrow {
    visibility: hidden;
}

.jump-preview .preview-filter-old {
    color: #ddd;
}

.jump-preview h4 {
    margin: 5px;
}
