.rawdata {
    width: auto;
}

.rawdata .ant-table.ant-table-small .ant-table-thead > tr > th {
    white-space: nowrap;
    font-weight: bold;
}

.rawdata-modal .ant-modal-body {
    padding-top: 10px;
}
