.erdiagram {
    grid-area: 2 / 6 / 6 / 11;
    /*grid-area: 2 / 2 / 4 / 7;*/
    position: absolute;
    overflow: hidden;
}

.erdiagramsvg {
    position: absolute;
}

.erdiagram > .graphbutton {
    position: absolute;
    top: 5px;
    right: 5px;
    z-index: 100;
}

.circleg > circle {
    /*fill: #add8e6;*/
    fill: #ccdbfd;
    stroke: #eee;
    stroke-width: 18;
    cursor: pointer;
}

.circleg > circle.metanode {
    fill: #ccc;
    stroke: #eee;
    stroke-width: 18;
    cursor: pointer;
}

.lineg > line {
    stroke: #eee;
    stroke-width: 18;
}

.lineg > line:hover {
    stroke: #111;
    stroke-width: 23;
}

.node-popover {
    position: absolute;
    width: auto;
    max-height: 600px;
    overflow: auto;
    margin: 3px;
    box-sizing: border-box;
    box-shadow: 3px 3px 7px 0px rgba(0, 0, 0, 0.32);
    background-color: white;
}

.node-popover p {
    margin: 0px;
}

.graph-popover h4 {
    margin: 5px;
}

.graph-popover h5 {
    margin: 5px;
}

.node-popover table {
    margin-top: 5px;
}

.node-popover .attribute-container {
    max-height: 150px;
    overflow: scroll;
}

.node-popover .attribute-container p {
    padding: 1px 3px;
    text-align: center;
}

.node-popover .ant-popover-inner-content {
    padding: 0px !important;
}

.node-popover .ant-table-tbody > tr {
    padding: 10px 5px !important;
}

.node-popover .ant-table-tbody > tr > td {
    border-bottom: none !important;
    padding: 0px 5px !important;
}

.edge-popover .matching-column-pairs {
    display: flex;
    justify-content: center;
    line-height: 1.25;
}

.edge-popover .matching-column-pairs > .source-col {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.edge-popover .matching-column-pairs > .equivalence-sign {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.edge-popover .matching-column-pairs > .target-col {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.edge-popover .ant-popover-inner-content {
    padding: 5px 10px;
    max-height: 150px;
    overflow: scroll;
}

span.graph-arrow {
    font-size: 40px;
    position: fixed;
}

.jump-preview-text {
    font-style: italic;
}
