.erdiagram {
    grid-area: 2 / 2 / 4 / 7;
    position: absolute;
    overflow: hidden;
}

.erdiagramsvg {
    position: absolute;
}

.erdiagram > .graphbutton {
    margin: 5px 5px;
    float: right;
}

.circleg > circle {
    fill: #add8e6;
    stroke: #eee;
    stroke-width: 12;
    cursor: pointer;
}

.lineg > line {
    stroke: #eee;
    stroke-width: 12;
}

.lineg > line:hover {
    stroke: #111;
    stroke-width: 15;
}

.ant-popover p {
    margin: 0px;
}

.ant-popover h4 {
    margin: 5px;
}

.ant-popover h5 {
    margin: 5px;
}

.ant-popover table {
    margin-top: 5px;
    border-color: white !important;
}

.ant-popover .attribute-container {
    max-height: 200px;
    overflow: scroll;
}

.ant-popover .attribute-container p {
    padding: 5px 3px;
    text-align: center;
}

.ant-popover .ant-popover-inner-content {
    padding: 0px !important;
}

.ant-popover .ant-table-tbody > tr {
    padding: 10px 5px !important;
}

.ant-popover .ant-table-tbody > tr > td {
    border-bottom: none !important;
    padding: 0px 5px !important;
}
