.erdiagram {
    grid-area: 2 / 1 / 9 / 3;
    /*grid-area: 2 / 2 / 4 / 7;*/
    position: absolute;
    overflow: hidden;
}

.erdiagramsvg {
    position: absolute;
}

.erdiagram > .graphbutton {
    margin: 5px 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.circleg > circle {
    /*fill: #add8e6;*/
    fill: #ccdbfd;
    stroke: #eee;
    stroke-width: 18;
    cursor: pointer;
}

.lineg > line {
    stroke: #eee;
    stroke-width: 18;
}

.lineg > line:hover {
    stroke: #111;
    stroke-width: 23;
}

.ant-popover.node-popover p {
    margin: 0px;
}

.ant-popover h4 {
    margin: 5px;
}

.ant-popover h5 {
    margin: 5px;
}

.ant-popover.node-popover table {
    margin-top: 5px;
}

.ant-popover.node-popover .attribute-container {
    max-height: 150px;
    overflow: scroll;
}

.ant-popover.node-popover .attribute-container p {
    padding: 1px 3px;
    text-align: center;
}

.ant-popover.node-popover .ant-popover-inner-content {
    padding: 0px !important;
}

.ant-popover.node-popover .ant-table-tbody > tr {
    padding: 10px 5px !important;
}

.ant-popover.node-popover .ant-table-tbody > tr > td {
    border-bottom: none !important;
    padding: 0px 5px !important;
}

.ant-popover.edge-popover .matching-column-pairs {
    display: flex;
    justify-content: center;
    line-height: 1.25;
}

.ant-popover.edge-popover .matching-column-pairs > .source-col {
    display: flex;
    align-items: center;
    padding-right: 5px;
}

.ant-popover.edge-popover .matching-column-pairs > .equivalence-sign {
    display: flex;
    align-items: center;
    font-size: 30px;
}

.ant-popover.edge-popover .matching-column-pairs > .target-col {
    display: flex;
    align-items: center;
    padding-left: 5px;
}

.ant-popover.edge-popover .ant-popover-inner-content {
    padding: 5px 10px;
    max-height: 150px;
    overflow: scroll;
}
