.visdetails {
    grid-area: 2 / 7 / 6 / 10;
}

.visdetails .ant-card-body {
    padding: 20px;
}

.visdetails {
    overflow: auto;
}

.sqlquery pre {
    margin-bottom: 0px;
}

.filters .filter-item {
    font-size: 14px;
    padding: 2px;
}

.filters .ant-empty-normal {
    margin: 0px 0px;
}

.filters .ant-list-empty-text {
    padding: 0px;
}
